.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
mpd/.config/mpd/database
mpd/.config/mpd/pid
mpd/.config/mpd/playlists
mpd/.config/mpd/state
nvim/.config/nvim/plugin/*
nvim/.config/nvim/spell/*
nvim/.config/nvim/.luarc.json
suckless/suckless/dwm/*.orig
suckless/suckless/dwm/*.rej
suckless/suckless/dwm/config.h
suckless/suckless/dwm/*.o
suckless/suckless/dwm/dwm
suckless/suckless/slstatus/config.h
